/*----------------------------------------------------------------------
 test-interface.css
 written by: Mike Mattie
 ----------------------------------------------------------------------*/

body {
  background: rgb(90,90,90);
}

h1 {
  text-align: center;
}

div {
  background: rgb(150,150,150);
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
}

select {
  display: block;
}

textarea {
  display: block;
}

input {
  display: block;
}

table {
  border: 2px solid black;
  border-collapse: collapse;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

table td {
  border: 2px solid black;
}

table td.header {
  text-align: center;
}

